
@mixin set-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@mixin set-submit-button {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: $dark-green;
    color: $white;
    border-radius: 8px;
}