@import "src/scss/utils";

@mixin set-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@mixin set-submit-button {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: $dark-green;
    color: $white;
    border-radius: 8px;
}

@mixin set-block-item-button($bg-color, $color, $border-color, $hover-color) {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: $bg-color;
    color: $color;
    border: 2px solid $border-color;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        border: 2px solid $hover-color;
    }

}