@import "src/scss/utils";

@mixin set-label-input($labelWidth, $inputWidth) {
  label {
    width: $labelWidth;

    input {
      width: $inputWidth;
      padding: .6rem;
      border: 1px solid $dark-green;
      border-radius: 8px;
      background-color: $white;
    }
  }
}