@import 'src/scss/utils';

.nav-bar__container {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar__content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__logo-container {
  width: 16rem;

  #nav-bar__logo {
    width: 100%;
  }
}

.nav-bar__menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

  li {
    margin: 0 1rem;
  }

  li a {
    text-decoration: none;
    color: $black;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s;

  }
}

#nav-bar__ham-btn {
  border: none;
  background-color: transparent;
  width: 3rem;

  #nav-bar__ham-icon {
    width: 100%;
  }
}