@import 'src/scss/utils';
@import 'src/scss/scss-common/scss-containers';
@import 'src/scss/scss-common/scss-typography';

.nav-bar__container {
  @include set-flexbox(row, center, center);
  padding: 1rem 0;
  width: 100%;
}

.nav-bar__content {
  @include set-flexbox(row, space-between, center);
  width: 90%;
}

.nav-bar__logo-container {
  width: 16rem;

  #nav-bar__logo {
    width: 100%;
  }
}

.nav-bar__menu ul {
  @include set-flexbox(row, space-bwteen, center);
  list-style: none;

  li {
    margin: 0 1rem;
  }

  li a {
    @include set-anchor-tag($black, 1.2rem, 500);
  }
}

#nav-bar__ham-btn {
  border: none;
  background-color: transparent;
  width: 3rem;

  #nav-bar__ham-icon {
    width: 100%;
  }
}

