@import "src/scss/utils";
@import "src/scss/scss-common/scss-containers";
@import "src/scss/scss-ui/buttons";

.register-login__page-container {
  @include set-page-container($sea-green-light);
  @include set-flexbox(column, space-between, center);
}

.login-register__header {
  margin-top: 2rem;
  width: 90%;
}

.login-register__title {
  @include set-login-register-title;
  @include set-flexbox(row, space-between, flex-end);
  overflow: hidden;

  h1 {
    padding: 1rem;
    background-color: $dark-green;
    color: $white;
    border-top-right-radius: 8px;
  }

  .button__go-back {
    @include set-flexbox(row, center, center);
    background-color: $dark-green;
    border: none;
    border-bottom-left-radius: 8px;
    align-self: flex-start;
    width: 8rem;
    height: 4rem;
    cursor: pointer;

    &:hover {
      background-color: $sea-green;
      transition: all 0.3s ease-in-out;
    }

    .icon__go-back {
      width: 100%;
      height: 100%;
      color: $white;
    }
  }
}

.register-login__main {
  width: 90%;
}

.register-login__class {
  @include set-container($white, $dark-green);

  .form__subtitle-container {
    @include set-flexbox(column, center, center);
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $dark-green;
    color: $white;
    border-radius: 8px;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      font-style: italic;
    }

  }
}

.register-login__user-info {
  @include set-flexbox(column, flex-start, flex-start);

  .form__input-container {
    width: 100%;
    @include set-flexbox(column, space-between, flex-start);

    label, label input {
      width: 100%;
    }

    label {
      margin-bottom: 2rem;
    }

    label input {
      font-size: 1.4rem;
        padding: .4rem;
      border: 1px solid $dark-green;
      border-radius: 8px;
      background-color: white;
    }
  }

}

.register-form__preferences {
  @include set-flexbox(row, space-between, flex-start);
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;

  .user-preference__container {
    @include set-flexbox(row, space-between, center);
    width: 18rem;
    height: 3rem;
    margin: .4rem;
    padding: .4rem 1rem;
    color: $black;
    background-color: $sea-green-light;
    border-radius: 8px;

    label {
      min-width: 8rem;
      max-width: 9rem;
      @include set-flexbox(row, space-between, center);
    }
  }
}

.register-login__submit-btn {
  @include set-submit-button;
}