@import '../utils';
@import "src/scss/structure/scss-containers";
@import "src/scss/structure/page-structure";
@import "../scss-ui/typography";

$login-register: "/src/assets/images/register-title.jpg";
$dashboard: "/src/assets/images/dashboard-title.jpg";
$recipes-main: "/src/assets/images/recipes-main-title.jpg";
$recipes-all: "/src/assets/images/recipes-all-title.jpg";
$groceries-main: "/src/assets/images/groceries-main-title.jpg";
$shopping-mode: "/src/assets/images/shopping-mode-title.jpg";
$grocery-lists: "/src/assets/images/register-title.jpg";
$new-recipe: "/src/assets/images/shopping-mode-title.jpg";
$saved-recipes: "/src/assets/images/saved-recipes-title.jpg";



@mixin set-title-general($height, $bgColor, $borderColor) {
  width: 100%;
  height: $height;
  background-color: $bgColor;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid $borderColor;
  border-radius: 8px;
  overflow: hidden;
  @include set-flexbox(row, space-between, flex-end);

  h1 {
    color: $white;
    background-color: $dark-green;
    padding: 1rem;
    border-top-right-radius: 8px;
  }
}

@mixin set-page-title($page) {
  @include set-title-general(15rem, $white, $dark-green);
  background-image: url($page);
}
