@import 'src/scss/utils';

@mixin set-title-general($height, $bgColor, $borderColor) {
  width: 100%;
  height: $height;
  background-color: $bgColor;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid $borderColor;
  border-radius: 8px;
  overflow: hidden;
  @include set-flexbox(row, space-between, flex-end);
}

@mixin set-flexbox($flex-dir, $justify-c, $align-i) {
  display: flex;
  flex-direction: $flex-dir;
  justify-content: $justify-c;
  align-items: $align-i;
}

@mixin set-page-container($bg-color) {
  width: 100%;
  background-color: $bg-color;
}

@mixin set-container($bg-color, $border-color) {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  background-color: $bg-color;
  border: 2px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

@mixin set-login-register-title() {
  @include set-title-general(15rem, $white, $dark-green);
  background-image: url("/src/assets/images/register-title.jpg");
}

@mixin set-dashboard-title() {
  @include set-title-general(15rem, $white, $dark-green);
  background-image: url("/src/assets/images/dashboard-title.jpg");
}