@import "src/scss/structure/scss-containers";
@import "src/scss/structure/page-title";
@import "src/scss/scss-ui/scss-preference";
@import "src/scss/scss-ui/buttons";
@import "src/scss/structure/page-structure";
@import "src/scss/scss-ui/icons";

@mixin set-landing-page-pos-top-left-z($position, $top, $left, $z-index) {
  position: $position;
  top: $top;
  left: $left;
  z-index: $z-index;
}

@mixin set-landing-page-pos-bot-left-z($position, $bottom, $left, $z-index) {
  position: $position;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin set-landing-page-wh($width, $height) {
  width: $width;
  height: $height;
}

.landing-page__page-container {
  @include set-landing-page-wh(100%, 1000px);
  @include set-flexbox(column, space-between, center);
  background-color: $white;

  .landing-page__bg-image--broccoli {
    background-image: url('../../assets/images/broccoli-bg.jpg');
    @include set-landing-page-wh(100%, 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .landing-page__main-container {
    @include set-landing-page-wh(90%, auto);
    @include set-flexbox(column, space-between, center);

    .landing-page__title-section {
      @include set-landing-page-wh(80%, 12rem);
      max-width: 1000px;
      margin-top: 8rem;

      .landing-page__title {
        width: 100%;
        padding: 1rem;
        margin-top: 6rem;
        background-color: $sea-green;
        z-index: 10;
        border-radius: 1rem;
        color: $darker-green;
      }
    }

    .landing-page__cta-section {
      @include set-flexbox(row, space-between, center);
      margin-top: 4rem;
      width: 80%;
      max-width: 1000px;
      padding: 1rem;
    }

    .landing-page__cta-button--primary {
      @include set-primary-button;
    }

    .landing-page__cta-button--secondary {
      @include set-secondary-button;
    }
  }

  .footer-container__class {
    position: absolute;
    bottom: -3.8rem;
    z-index: 100;
    width: 100%;
    height: 6.5rem;
    background-color: $darker-green;
    color: $white;
  }

}

////// Register Login //////
.register-login__page-container {
  @include set-page-container($sea-green-light);
  @include set-flexbox(column, space-between, center);
}

.login-register__header {
  margin-top: 6rem;
  width: 90%;
}

.login-register__title {
  @include set-page-title($login-register);

  .button__go-back {
    @include set-button-go-back;
  }
}

.register-login__main {
  @include set-container($white, $dark-green, $white);
  width: 90%;
  padding: 1rem;
  margin-top: 2rem;
  @include set-flexbox(column, center, center);
}

.register-login__class {
  width: 100%;

  .form__subtitle-container {
    @include set-flexbox(column, center, center);
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $dark-green;
    color: $white;
    border-radius: 8px;

    p {
      font-size: 1rem;
      font-style: italic;
    }

  }
}

.register-login__user-info {
  @include set-flexbox(column, flex-start, flex-start);

  .form__input-container {
    width: 100%;
    @include set-flexbox(column, space-between, flex-start);

    span {
      color: $dark-green;
    }

    label, label input {
      width: 100%;
    }

    label {
      margin-bottom: 2rem;
      @include set-flexbox(column, flex-start, flex-start);
    }

    label input {
      font-size: 1.4rem;
      padding: .4rem;
      border: 1px solid $dark-green;
      border-radius: 8px;
      background-color: white;
    }
  }

}

.register-form__preferences {
  @include set-flexbox(row, space-between, flex-start);
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;

  .preferences-checkbox {
    @include set-checkbox-container(transparent, $darker-green);
    @include set-flexbox(row, space-between, center);
    border-radius: 8px;
  }

  label {
    min-width: 8rem;
    max-width: 9rem;
    @include set-flexbox(row, space-between, center);

    input[type="checkbox"] {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: .6rem;
      accent-color: $sea-green;
    }

    span {
      margin-left: .6rem;
    }
  }
}


.register-login__submit-btn {
  @include set-submit-button;
}



