@import "src/scss/structure/scss-containers";
@import "src/scss/structure/page-title";
@import "src/scss/scss-ui/scss-preference";
@import "src/scss/scss-ui/buttons";

.landing-page__bg-image--broccoli {
  background-image: url('../../assets/images/broccoli-bg.jpg');
  width: 100%;
  height: 760px;
  background-size: cover;
  position: absolute;
  top: 80px;
  z-index: -10;
}

.landing-page__page-container {
  height: 880px;
  background-color: $white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-container__class {
    width: 100%;
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-page__main-container {
    width: 30rem;
    height: 10rem;
    position: absolute;
    bottom: 6rem;
    z-index: 100;

    .landing-page__cta-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1rem;
    }

    .landing-page__cta-button--primary {
      padding: 1rem;
      font-size: 1.2rem;
      background-color: $white;
      border: none;
      text-transform: uppercase;
      font-weight: 500;
      color: $darker-green;
      border-radius: 8px;
    }

    .landing-page__cta-button--secondary {
      padding: 1rem;
      font-size: 1.2rem;
      background-color: $sea-green;
      border: none;
      text-transform: uppercase;
      font-weight: 500;
      color: $white;
      border-radius: 8px;
    }
  }

  .footer-container__class {
    position: absolute;
    bottom: -3.8rem;
    z-index: 100;
    width: 100%;
    height: 6.5rem;
    background-color: $darker-green;
    color: $white;
  }

}

.landing-page__title {
  width: 48rem;
  padding: 1rem;
  margin-top: 8rem;
  background-color: $sea-green;
  z-index: 10;
  border-radius: 1rem;
  color: $darker-green;

  h1 {
    font-size: 6rem;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
    text-align: center;
  }
}

////// Register Login //////
.register-login__page-container {
  @include set-page-container($sea-green-light);
  @include set-flexbox(column, space-between, center);
}

.login-register__header {
  margin-top: 2rem;
  width: 90%;
}

.login-register__title {
  @include set-login-register-title;

  h1 {
    padding: 1rem;
    background-color: $dark-green;
    color: $white;
    border-top-right-radius: 8px;
  }

  .button__go-back {
    @include set-flexbox(row, center, center);
    background-color: $dark-green;
    border: none;
    border-bottom-left-radius: 8px;
    align-self: flex-start;
    width: 8rem;
    height: 4rem;
    cursor: pointer;

    &:hover {
      background-color: $sea-green;
      transition: all 0.3s ease-in-out;
    }

    .icon__go-back {
      width: 100%;
      height: 100%;
      color: $white;
    }
  }
}

.register-login__main {
  width: 90%;
}

.register-login__class {
  @include set-container($white, $dark-green, $white);

  .form__subtitle-container {
    @include set-flexbox(column, center, center);
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $dark-green;
    color: $white;
    border-radius: 8px;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      font-style: italic;
    }

  }
}

.register-login__user-info {
  @include set-flexbox(column, flex-start, flex-start);

  .form__input-container {
    width: 100%;
    @include set-flexbox(column, space-between, flex-start);

    label, label input {
      width: 100%;
    }

    label {
      margin-bottom: 2rem;
    }

    label input {
      font-size: 1.4rem;
      padding: .4rem;
      border: 1px solid $dark-green;
      border-radius: 8px;
      background-color: white;
    }
  }

}

.register-form__preferences {
  @include set-flexbox(row, space-between, flex-start);
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;

  .user-preference__container {
    @include set-flexbox(row, space-between, center);
    @include set-preference-container;
    @include set-preference-styling;

    label {
      min-width: 8rem;
      max-width: 9rem;
      @include set-flexbox(row, space-between, center);
    }
  }
}

.register-login__submit-btn {
  @include set-submit-button;
}





