@import 'src/scss/scss-common/scss-containers';

.dashboard__page-container {
  @include set-page-container($sea-green-light);
  @include set-flexbox(column, space-between, center);

  .dashboard__header {
    width: 90%;
  }

  .dashboard__main {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
}

.dashboard__title {
  @include set-dashboard-title;
}

.block-item__content {
  width: 100%;
  @include set-flexbox(column, space-around, flex-start);

  .block-item__title {
    width: 100%;
    @include set-flexbox(row, space-between, flex-start);

    h2 {
      font-size: 2.5rem;

    }
  }
}

.food-preferences__container {
  @include set-container($white, $dark-green);
  @include set-flexbox(row, space-around, center);
  flex-wrap: wrap;

  .food-preferences__checkbox {
    @include set-flexbox(row, space-between, center);
    min-width: 14rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $white;
    border: 1px solid $dark-green;
    border-radius: 8px;
  }

  label {
    min-width: 8rem;
    max-width: 12rem;
    @include set-flexbox(row, space-between, center);

    span {
      margin-left: .6rem;
    }
  }
}

.add-new-recipe__container {
    @include set-container($sea-green, $dark-green);
    @include set-flexbox(column, space-between, flex-start);
    border-radius: 8px;

  .block-item__subtitle-container {
    margin: 1rem 0;
  }

    .block-item__input-container {
        width: 100%;
      margin-top: 2rem;
        @include set-flexbox(column, space-between, flex-start);

      label {
        width: 100%;
      }

        label input {
            width: 100%;
            padding: .4rem;
            border: 1px solid $dark-green;
            border-radius: 8px;
            background-color: $white;
        }
    }

  button {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: $dark-green;
    color: $sea-green;
    border: 2px solid $dark-green;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      border: 2px solid $sea-green;
    }
  }
}